{% extends 'base.html' %}
{% block title %}Add Activity{% endblock %}
{% block content %}

<h1>Add Activity</h1>
<div class="secondary-nav">
    <div class="secondary-nav-cell">
        <button type="button" class="secondary-nav-btn" id="clth">Clothing Purchase</button>
    </div>
    <div class="secondary-nav-cell">
        <button type="button" class="secondary-nav-btn" id="air">Air Travel</button>
    </div>
    <div class="secondary-nav-cell">
        <button type="button" class="secondary-nav-btn" id="drv">Road Travel - Car</button>
    </div>
    <div class="secondary-nav-cell">
        <button type="button" class="secondary-nav-btn" id="btl">Plastic Bottle</button>
    </div>
</div>

<div class="form-container">

<form method="POST" class="activity-form" id="form-clth" action="/post-activity-clothing">
    <h3>New Clothing Purchased</h3>
    <p>Based on USD Spent. Emission factor covers cradle-to-shelf lifecycle.</p>

    {{ form_money.hidden_tag() }}

    {% for field in form_money
        if field.widget.input_type != 'hidden' and field.name != 'user_id' %}
    <p>
        {{ field.label }}
        {{ field }}
    </p>

    {% endfor %}

    <input type="submit" value="Submit">
</form>


<form method="POST" class="activity-form" id="form-drv" action="/post-activity-driving">
    <h3>Road Travel</h3>
    <p>Based on miles driven in 4-door sedan featuring a typical combustion engine</p>

    {{ form_distance.hidden_tag() }}

    {% for field in form_distance
        if field.widget.input_type != 'hidden' and field.name != 'user_id' %}

    <p>
        {{ field.label }}
        {{ field }}
    </p>

    {% endfor %}

    <input type="submit" value="Submit">
</form>


<form method="POST" class="activity-form" id="form-air" action="/post-activity-air-travel">
    <h3>Air Travel by Distance</h3>

    {{ form_air_travel.hidden_tag() }}

    {% for field in form_air_travel
        if field.widget.input_type != 'hidden' and field.name != 'user_id' %}

    <p>
        {{ field.label }}
        {{ field }}
    </p>

    {% endfor %}

    <input type="submit" value="Submit">
</form>

<div class="form-container">
    <form method="POST" class="activity-form" id="form-btl" action="/post-activity-bottles">
        <h3>Plastic Bottles</h3>
        <p>Based on USD spent. Emission factor covers cradle-to-shelf lifecycle.</p>
    
        {{ form_money.hidden_tag() }}
    
        {% for field in form_money
            if field.widget.input_type != 'hidden' and field.name != 'user_id' %}
    
        <p>
            {{ field.label }}
            {{ field }}
        </p>
    
        {% endfor %}
    
        <input type="submit" value="Submit">
    </form>

</div>

{% endblock %}