{% extends 'base.html' %}
{% block title %}View Activity History{% endblock %}
{% block content %}
{% from 'macros.html' import data_rows %}

{%if events %}
<div class="table-container">
    <table>
        <thead>
            <td>Type</td>
            <td>Expenditure</td>
            <td>CO2 Emission</td>
            <td>Date</td>
            <td></td>
            <td></td>
        </thead>
        <tbody>
            {{ data_rows(events) }}
        </tbody>
    </table>
</div>
        <div class="history-nav">
            {% if events.has_prev %}
              <a href="{{ url_for('list_user_events', page=events.prev_num) }}"><button class="blue">Previous</button></a>
            {% else %}
              <a><button class="blue" disabled>Previous</button></a>
            {% endif %}


            {% if events.has_next %}
              <a href="{{ url_for('list_user_events', page=events.next_num) }}"><button class="blue">Next</button></a>
            {% else %}
              <a><button class="blue" disabled>Next</button></a>
            {% endif %}
        </div>


    {% else %}
    <h3>No recorded activities yet</h3>
{% endif %}


{% endblock %}