<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">    
    <link rel="stylesheet" media="screen and (min-width: 1000px)"href="/static/desktop.css">
    <link rel="stylesheet" media="screen and (max-width:999px)"href="/static/tablet.css">
    <link rel="stylesheet" media="screen and (max-width: 599px)"href="/static/mobile.css">
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/login">Login</a>
    </nav>
    <main class="content">

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <section class="messages">
                {% for category,msg in messages %}
                    <p class="{{category}}">{{msg}}</p>
                {% endfor %}
            </section>
        {% endif %}
        {% endwith %}


        {% block content %} {% endblock %}

    </main>

    <footer>
        <div>Website by Magda Janicki 2022 | <a href="https://www.linkedin.com/in/magdajanicki/">Contact</a> | <a href="https://github.com/mjanicki01/co2-tracker">Github</a></div>
    </footer>

<script src="https://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/app.js"></script>


</body>
</html>