{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block content %}

<h1>Welcome Back, blah blah</h1>

<div class="user-stat-grid">
    <div class="user-stat-item">
        <img src="" height=100/>
        User's image, name, basic facts
    </div>
    <div class="user-stat-item">
        <ul>
            <li>To Date Total: ##.# kg</li>
            <li>This Month's Total: ##.# kg</li>
            <li>Last Month's Total: ##.# kg</li>
        </ul>
    </div>    
</div>

<div class="activity-stat-grid">
    <div class="activity-stat-item">
        <h3>Total To Date:</h3>
    </div>
    <div class="activity-stat-item">
        <img src="" height=100/>
        (new clothes purchased) ##.#
    </div>
    <div class="activity-stat-item">
        <img src="" height=100/>
        (miles flown) ##.#
    </div>
    <div class="activity-stat-item">
        <img src="" height=100/>
        (miles driven - combustion engine) ##.#
    </div>
    <div class="activity-stat-item">
        <img src="" height=100/>
        (new plastic bottles purchased) ##.#
    </div>
</div>

<div class="activity-card-grid">
    <div class="activity-card-item">
        Here's a card (new clothes purchased)
    </div>
    <div class="activity-card-item">
        Here's a card (miles flown)
    </div>
    <div class="activity-card-item">
        Here's a card (miles driven - combustion engine)
    </div>
    <div class="activity-card-item">
        Here's a card (new plastic bottles purchased)
    </div>
</div>

{% endblock %}