{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block content %}

<h1>CO2e Tracker</h1>

<div class="user-stat-grid">
    <div class="user-stat-item1">
        <img src="{{user.image_url}}" height=100/>
        <div><p>{{user.username}}</p>
        <p>{{user.first_name}} {{user.last_name}}</p>
        <p>Location: {{user.location}}</p>
        <p>Mode of Transportation: {{user.mode_of_transport}}</p>
        <p><a href="/edit-profile">Edit Profile</a></p>
        </div>

    </div>
    <div class="user-stat-item2">
            <h4 style="color:orangered">All Time Total: {{total_co2e[0]}} kg co2e</h4>
            <h4 style="color:orangered">This Years's Total: {{total_co2e[2]}} kg co2e</h4>
            <h4 style="color:orangered">This Month's Total: {{total_co2e[1]}} kg co2e</h4>
    </div>    
</div>

<div class="activity-stat-grid">
    <div class="activity-stat-item-1">
        <h3>Total CO2e By Activity</h3>
    </div>
    <div class="activity-stat-item">
        <img src="static\images\t-shirt.png" height=50/>
        {{total_co2e_clothing[0]}} kg
    </div>
    <div class="activity-stat-item">
        <img src="static\images\plane.png" height=50/>
        {{total_co2e_flights[0]}} kg
    </div>
    <div class="activity-stat-item">
        <img src="static\images\car.png" height=50/>
        {{total_co2e_driving[0]}} kg
    </div>
    <div class="activity-stat-item">
        <img src="static\images\water-bottle.png" height=50/>
        {{total_co2e_bottles[0]}} kg
    </div>
</div>

<div class="activity-card-grid">
    <div class="activity-card-item">
        <div class="activity-card-header"><h3>New Clothing Purchased</h3></div>
        <div><h4>All time:</h4>
        <p>{{total_co2e_clothing[0]}} kg co2e</p><p>${{total_co2e_clothing[1]}}</p>
        </div>
        <div>
        <h4>Current Month: </h4>
        <p>{{total_co2e_clothing[2]}} kg co2e</p>
        <p>${{total_co2e_clothing[3]}}</p>
        </div>
        <div>
        <h4>Current Year: </h4>
        <p>{{total_co2e_clothing[4]}} kg co2e</p>
        <p>${{total_co2e_clothing[5]}}</p>
        </div>
    </div>
    <div class="activity-card-item">
        <div class="activity-card-header"><h3>Flights Booked</h3></div>
        <div><h4>All time:</h4>
        <p>{{total_co2e_flights[0]}} kg co2e</p>
        </div>
        <div>
        <h4>Current Month: </h4>
        <p>{{total_co2e_flights[1]}} kg co2e</p>
        </div>
        <div>
        <h4>Current Year: </h4>
        <p>{{total_co2e_flights[2]}} kg co2e</p>
        </div>
    </div>
    <div class="activity-card-item">
        <div class="activity-card-header"><h3>Miles Driven</h3></div>
        <div><h4>All time:</h4>
        <p>{{total_co2e_driving[0]}} kg co2e</p><p>{{total_co2e_driving[1]}} miles</p>
        </div>
        <div>
        <h4>Current Month: </h4>
        <p>{{total_co2e_driving[2]}} kg co2e</p>
        <p>{{total_co2e_driving[3]}} miles</p>
        </div>
        <div>
        <h4>Current Year: </h4>
        <p>{{total_co2e_driving[4]}} kg co2e</p>
        <p>{{total_co2e_driving[5]}} miles</p>
        </div>
    </div>
    <div class="activity-card-item">
        <div class="activity-card-header"><h3>Plastic Bottles Purchased</h3></div>
        <div><h4>All time:</h4>
        <p>{{total_co2e_bottles[0]}} kg co2e</p><p>${{total_co2e_bottles[1]}}</p>
        </div>
        <div>
        <h4>Current Month: </h4>
        <p>{{total_co2e_bottles[2]}} kg co2e</p>
        <p>${{total_co2e_bottles[3]}}</p>
        </div>
        <div>
        <h4>Current Year: </h4>
        <p>{{total_co2e_bottles[4]}} kg co2e</p>
        <p>${{total_co2e_bottles[5]}}</p>
        </div>
    </div>
</div>

{% endblock %}