{% extends 'base-anon.html' %}
{% block title %}Login{% endblock %}
{% block content %}

<h1>CO2e Tracker</h1>
<h2>Login</h1>

  <div class="form-container">

<form method="POST" class="login-form" id="user_form">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
    {{ field(placeholder=field.label.text, class="form-control") }}
      {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    {% endfor %}

    <p><input type="submit" value="Login"></p>
</form>
</div>

{% endblock %}